body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background: inherit;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
}

button:hover {
  color: #0fa110;
}

.menu {
  text-align: center;
  padding-bottom: 30px;
}

.login {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.login input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.new-video input {
  outline: 0;
  background: #f2f2f2;
  width: 40%;
  border: 0;
  margin: 20px 2% 50px 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.box {
  width: 400px;
  height: 20px;
  margin: 0 auto 15px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.info {
  background-color: #479e47;
}

.error {
  background-color: #d95454;
}

.column {
  float: left;
  display: table-cell;
  vertical-align: middle;
}

.left {
  width: 15%;
}

.right {
  width: 15%;
  text-align: right;
}

.middle {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.video input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
